// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
    background-color: #3477dc !important ;
}
.navbar-brand {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-size: 1.3rem ;
    color: white !important;
    text-shadow: 0 1px 1px 1px rgb(119, 189, 255);


}
.nav-link {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: 1rem ;
    color: white !important;
    text-shadow: 0 1px 1px 1px rgb(119, 189, 255);


}
html {
    height: 100vh;

}
body {
    height: 100%;
    background-color: rgb(236, 241, 241);
    width: 100%;
    overflow: hidden;
}
main {
    height: 100%;
}
#app {
    height: 90%;
}


@media (max-width: 767.98px) {
    
    
}